body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: #f5f5f5;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.timeplayer .player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.timeplayer .player p {
  padding-left: 10px;
  font-size: 30px;
}

.table {
  background-color: rgba(77, 76, 76, 0.459);
  width: 450px;
  height: 450px;

  display: flex;
  text-align: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards button {
  width: 135px;
  height: 135px;
  font-size: 100px;
  white-space: nowrap;
}

.footerTable {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footerTable button {
  background-color: rgba(77, 76, 76, 0.459);
  color: #f5f5f5;

  padding: 10px;
  margin-top: 10px;

  border: none;
}

.footerTable button:hover {
  background-color: rgba(41, 39, 39, 0.459);
  color: rgb(34, 202, 53);
}
